<!doctype html>
<html>

<head>
    <% include ../head%>
</head>

<header>
    <% include ../headers%>
</header>

<%if(loi == "date"){%>
    <body onload="showError('Ngày bắt đầu cần nhỏ hơn ngày kết thúc')"></body>
<%}%>

<%if(loi == "query"){%>
    <body onload="showError('Không có dữ liệu')"></body>
<%}%>

<script>
    function showError(loi) {
        alert(loi);
    }
</script>

<body>
    <div class="container">
    <h1>     Chọn mục kiểm tra</h1>
    <form action="/querys/rp/pkgname" method="post">

        <h4>
            <ul class="list-inline">
                <li><a href="/querys/rp">install</a></li>
                <li class="active"><a href="/querys/rp/pkgname">package name</a></li>
                <li><a href="/querys/rpdaily">install daily</a></li>
                <li><a href="/querys/rpoption">report option</a></li>
            </ul>
        </h4>

        <div class="form-group">
            <label for="sel1">Select One Game:</label>
            <select class="form-control" name="pkg" id="sel1">
            <% if (listPkg != null){ %>
            <% for(var i=0; i< listPkg.length; i++) {%>
                <option value = <%= listPkg[i]%>> <%= listPkg[i]%></option>
            <%}%>
            <%}%>
            </select>
        </div>
        <br>
         Từ ngày <input type="date" name="dateFrom">
         Đến <input type="date" name="dateEnd">
        <input type="submit" value="Submit">
    </form> 
    <br>
    <% if(namePkg != null){%>
        <h3> <%=namePkg%> </h3>
    <%}%>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>date</th>
                <th>Active</th>
                <th>Install</th>
                <th>Install Device</th>
            </tr>
        </thead>
        <% if(datas != null){%>
        <% for(var i=0; i< datas.length; i++) {%>
        <tbody>
            <tr>
                <td>
                    <%= datas[i].date %>
                </td>
                <td>
                    <%= datas[i].active %>
                </td>
                <td>
                    <%= datas[i].install %>
                </td>
                <td>
                    <%= datas[i].installdevice %>
                </td>
            </tr>
        </tbody>
        <%}%>
        <%}%>
    </table>
</div>
</body>

<!-- <footer class="container-fluid text-center">
        <% include ../footer%>
</footer> -->

</html>